
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	font-family: 'Times New Roman';
	background: #e8e8e8;
}

.content{
	max-width: 841px;
	margin: 0px auto;

}
.content_image{
	background: url(../img/light_man_copy_26.png) center no-repeat , url(../img/ellipse_1_copy_4.png) 0 0 no-repeat;
	width: 821px;
	height: 541px;
	border: 10px solid #FFF;
}
.content_top_header{
	font-size: 14px;
	opacity: 0.6;
	padding-top: 50px;
	font-family: Arial;	
}
.content_top_title{
	padding: 20px 48px 0px 52px;
	font-size: 36px;
	opacity: 0.8;


}
.content_image{

	margin: 87px 0px 0px 0px;

}
.content_bottom_text{
	font-size: 24px;
	padding: 40px 40px 0px;
	opacity: 0.8;

}
.content_bottom_text_secondArt{
	padding: 40px 0 40px 0px;

}

.content_bottom_list{
	font-size: 20px;

}
.content_bottom_list_ul{
	font-size: 20px;
	font-family: Arial;
}
.first{
	
	background:url(../img/icons/li.svg) 0 0 no-repeat ;
	background-position: left;
	padding-left: 20px;
}
.second{
	
	background:url(../img/icons/li.svg) 0 0 no-repeat ;
	background-position: left;
	padding-left: 20px;
	font-style: italic ;

}

.third{
	
	background:url(../img/icons/li.svg) 0 0 no-repeat ;
	background-position: left;
	padding-left: 20px;
	font-style: bold;
}
.fourth{
	
	background:url(../img/icons/li.svg) 0 0 no-repeat ;
	background-position: left;
	padding-left: 20px;
}

.buton{



}
.button_box{
	background: rgb(255, 0, 0) no-repeat;
	width: 199px;
	height: 44px;
}